.icon-carrinho {
  cursor: pointer;
}
.slide-carrinho {
  padding: 28px 20px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--cor-01);
  transition: 0.5s ease;
  transform: translateX(4000px);
  z-index: 4;
  overflow-y: auto;
  scrollbar-width: none;
}
input:checked ~ .slide-carrinho {
  transform: translateX(0px);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.title-car {
  color: var(--cor-12);
  letter-spacing: 0.5px;
  position: relative;
}
.title-car::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: var(--cor-s2);
  top: 28px;
}
.product-card {
  display: flex;
  margin: 32px 0 36px 0;
  gap: 24px;
}
.product-card h3 {
  grid-column: 1/-1;
}
.product-card-infos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 12px;
}
.slide-carrinho a:not(.button) {
  color: var(--cor-09);
  text-decoration: underline;
}
.slide-carrinho a:hover:not(.button) {
  color: var(--cor-s2);
}

.product-card-img {
  max-width: 200px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}
.price {
  justify-self: end;
  align-self: center;
  color: var(--cor-09);
  font-family: roboto, arial;
}
.counter-card {
  height: 32px;
  width: 144px;
  border: 1px solid var(--cor-12);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  width: 40px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: fira code;
  font-weight: 500;
  color: var(--cor-12);
  cursor: pointer;
}
.count {
  font-size: 20px;
  color: var(--cor-10);
  font-family: "Roboto", sans-serif;
}
.comprar {
  display: grid;
}
.aviso-frete {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
  width: 100%;
}
.aviso-frete::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: var(--cor-04);
  top: -20px;
}

.subtotal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
  position: relative;
}
.subtotal::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: var(--cor-04);
  top: 52px;
}

.input-cep {
  height: 44px;
  width: 100%;
  border-radius: 8px;
  position: relative;
  margin-bottom: 12px;
  margin-top: 28px;
}
.cep input {
  width: 96.5% !important;
  padding-left: 12px;
}
.slide-carrinho .button {
  margin-bottom: 32px;
}
.total {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  margin-bottom: 16px;
}
.price-total {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: right;
  margin-bottom: 4px;
}
.parcelamento {
  font-weight: 400;
}
.mais-produtos {
  text-transform: none;
  margin-bottom: 100px;
  width: 100%;
  text-align: center;
}
.toggle-car {
  position: absolute;
  height: 30px;
  width: 30px;
  z-index: 1;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.toggle-car .common {
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: var(--cor-12);
  border: 50px;
  transition: 0.3s ease;
}
.toggle-car .top-line {
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(45deg);
}

.toggle-car .bot-line {
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(-45deg);
}
.close-car:checked ~ .slide-carrinho {
  display: none;
}

@media (max-width: 480px) {
  .product-card img {
    max-width: 150px;
  }
  .product-card {
    gap: 10px;
  }
  .price {
    text-align: right;
  }
}

.checkbox-0000 input {
  display: block !important;
}
