.main-login {
  background-image: url("/img/background-1.svg");
}

.container-login {
  display: grid;
  justify-items: center;
}

.login-form {
  display: grid;
  gap: 20px;
  background-color: var(--cor-01);
  padding: 48px 0;
  max-width: 648px;
  width: 100%;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 32px;
  position: relative;
}
#login .input-line,
#create-acc .input-line {
  min-width: 332px;
}
.asset-1 {
  position: absolute;
  width: auto;
  z-index: 1;
  right: -140px;
  top: -29.5px;
}
.asset-1 img {
  object-fit: cover;
  max-width: 200px;
}
.asset-2 {
  position: absolute;
  width: auto;
  z-index: 1;
  right: -182.5px;
  top: -38px;
}
.asset-2 img {
  object-fit: cover;
  max-width: 260px;
}
.login-form h2 {
  color: var(--cor-12);
  font-size: 1rem;
  justify-self: center;
}

.forget {
  margin-top: 10px;
  color: var(--cor-09);
  justify-self: end;
}
.forget:hover {
  color: var(--cor-s3);
}

.create-acc {
  display: grid;
  justify-items: center;
  place-content: start;
  gap: 4px;
  margin-bottom: 80px;
}

.create-acc a {
  color: var(--cor-12);
}
.create-acc a:hover {
  color: var(--cor-s3);
}
.create-acc a::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: var(--cor-12);
}
.create-acc a:hover::after {
  background-color: var(--cor-s3);
}

@media (max-width: 1250px) {
  .container-login {
    margin: 0 20px;
  }
  .login-form {
    margin-top: 12px;
  }
}
@media (max-width: 820px) {
  .asset-1,
  .asset-2 {
    display: none;
  }
}
@media (max-width: 550px) {
  .main-login .breadcrumb {
    margin: 0 20px;
  }
  .create-acc {
    margin-bottom: 40px;
  }
}
@media (max-width: 450px) {
  #login .breadcrumb,
  #create-acc .breadcrumb {
    display: none;
  }
  .login-form {
    margin-top: 32px;
  }
}
