.font-1-gg {
  font: 700 2rem/1.35 "Josefin sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.font-1-g {
  font: 700 1.5rem/1.35 "Josefin sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1;
}

.font-1-g1 {
  font: 700 1.2rem/1.35 "Josefin sans", sans-serif;
  text-transform: uppercase;
}

.font-1-m1 {
  font: 500 1rem/1.35 "Josefin sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.font-1-m1-b {
  font: 700 1rem/1.35 "Josefin sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.font-1-m {
  font: 500 0.875rem/1.35 "Josefin sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--cor-12);
}

.font-1-p {
  font: 500 0.875rem/1.35 "Josefin sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.font-1-pp {
  font: 400 0.875rem/1.35 "Josefin sans", sans-serif;
  text-transform: capitalize;
  letter-spacing: 1px;
}

/* fonte roboto */

.font-2-mb {
  font: 700 0.775rem/1 "Fira Sans", sans serif;
}

.font-2-m {
  font: 400 0.775rem/1.3 "Fira Sans", sans serif;
}
.font-2-g {
  font: 400 0.875rem/1.35 "Fira Sans", sans serif;
}

.font-2-g1 {
  font: 400 1rem/1.35 "Fira Sans", sans serif;
}

.font-2-g1-b {
  font: 700 1rem/1.35 "Fira Sans", sans serif;
}

.font-2-gg {
  font: 600 1.2rem/1.35 "Fira Sans", sans serif;
}

.font-2-xl {
  font: 600 1.5rem/1.35 "Fira Sans", sans serif;
}

@media (max-width: 900px) {
  .font-1-m1 {
    font-size: 0.875rem;
  }
}

@media (max-width: 550px) {
  .font-1-gg {
    font-size: 1rem;
    font-weight: 500;
  }
  .font-1-p {
    font-size: 0.775rem;
  }

  .font-2-mb {
    font-size: 0.9rem;
  }
  .font-2-m {
    font-size: 0.875rem;
  }
}
